body {
	background: url(../img/12_col.gif) center top repeat-y;
	background-size: 90%;
}

@media screen and (max-width: 768px) {

	#container {
	 display: grid;
	 grid-template-columns: 100%;
	 grid-auto-rows: minmax(150px, auto);
	 border: 1px solid black;
	 margin: auto;
	 width: 90%;
     gap: 1em;}
  
    #boxes {
	 display: grid;
	 grid-template-columns: auto;
	 grid-auto-rows: minmax(150px, auto);
	 margin: auto;
	 width: 90%; 
	 gap: 1em;}
	
	.box1, .box2, .box3 {
	 border: 1px solid black; }
  
	#section-3 {
	 display: grid;
	 grid-template-columns: auto;
	 grid-auto-rows: minmax(150px, auto);
	 margin: auto;
	 width: 90%;
	 gap: 1em;}

  .content{
	border: 1px solid black;
    }

  .sidebar {
    border: 1px solid black;}

  #footers {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: minmax(150px, auto);
	border: 1px solid black;
	margin: auto;
    width: 90%;}

  .footer1, .footer2, .footer3, .footer4 {
	margin: 10px;
    border: 1px solid black;}
}

@media screen and (max-width: 960px) and (min-width: 768px) {

   #container {
	display: grid;
	grid-template-columns: 100%;
	grid-auto-rows: minmax(150px, auto);
	border: 1px solid black;
	margin: auto;
    width: 90%; }
	
   #boxes {
	display: grid;
	grid-template-columns: 4fr 4fr 4fr;
	grid-auto-rows: minmax(150px, auto);
	margin: auto;
	width: 90%;
	gap: 1em; }

   .box1, .box2, .box3 {
	border: 1px solid black; }

   #section-3 {
	display: grid;
	grid-template-columns: 6fr 6fr;
	grid-auto-rows: minmax(150px, auto);
	margin: auto;
	width: 90%;
	gap: 1em; }

   .content, .sidebar {
	border: 1px solid black; }

   #footers {
	display:grid;
	grid-template-columns: 6fr 6fr;
	border: 1px solid black;
	grid-auto-rows: minmax(150px, auto);
	margin: auto;
	width: 88%;
	gap: 1em;
	padding: 10px; }
	
   .footer1, .footer2, .footer3, .footer4 {
	border: 1px solid black; }
}

@media screen and (max-width: 1200px) and (min-width: 960px) {
	
	#container {
	 display: grid;
	 grid-template-columns: 100%;
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 90%;
	 border: 1px solid black;}

	#boxes {
	 display: grid;
	 grid-template-columns: 3fr 6fr 3fr;
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 90%;
	 gap: 1em; }
		
	.box1, .box2, .box3 {
	 border: 1px solid black; }

    #section-3 {
	 display: grid;
	 grid-template-columns: 8fr 4fr;
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 90%;
	 gap: 1em; }
	
	.content, .sidebar {
	 border: 1px solid black;} 
	
	#footers {
	 display: grid;
	 grid-template-columns: 3fr 3fr 3fr 3fr;
	 border: 1px solid black;
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 88%;
	 grid-gap: 1em;
	 padding: 10px; }
			
	.footer1, .footer2, .footer3, .footer4 {
	 border: 1px solid black; }
}

@media screen and (min-width: 1200px) {
	
	#container {
	 display: grid;
	 grid-template-columns: 100%;
	 grid-auto-rows: minmax(200px, auto);
	 border: 1px solid black;
	 margin:auto;
	 width: 89% }

	#boxes {
	 display: grid;
	 grid-template-columns: 1fr 4.5fr 1fr;
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 89%;
     gap: 2em;	}
		   
    .box1, .box2, .box3 {
     border: 1px solid black; }

	#section-3 {
	 display: grid;
	 grid-template-columns: 9.5fr 3fr; 
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 89%;
     gap: 2em; }
		   
	.content, .sidebar {
	 border: 1px solid black;} 

	#footers {
	 display: grid;
	 grid-template-columns: 3fr 3fr 3fr 3fr;
	 border: 1px solid black;
	 grid-auto-rows: minmax(200px, auto);
	 margin: auto;
	 width: 88%;
	 gap: 2em;
	 padding: 10px;  }
					   
	.footer1, .footer2, .footer3, .footer4 {
	 border: 1px solid black; }
}